node_modules/
public/bundle.js
data/sockets/
data/session-meta/
data/session-buffers/
data/layouts.json
data/user-state.json
data/bookmarks.json
data/settings.json
data/custom-themes.json
data/bin/code
*.nfs*
