[Desktop Entry]
Version=1.0
Type=Application
Name=Settings
Comment=Desktop settings
Exec=xfce4-settings-manager
Icon=org.xfce.settings.manager
Categories=Settings;
